.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-width: 450px;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #EBEBEB;
}
.home-image {
  top: 0px;
  right: 0px;
  width: 630px;
  height: 780px;
  display: none;
  opacity: 0.3;
  position: absolute;
  object-fit: cover;
  border-bottom-left-radius: 100px;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 120px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #575757;
  font-size: 22px;
  text-align: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: center;
}
.home-text3 {
  color: rgb(47, 85, 151);
  font-size: 48px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container10 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 885px) {
  .home-container01 {
    flex-direction: column;
  }
  .home-container02 {
    flex-direction: column;
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-container08 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-image {
    display: none;
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-container07 {
    max-width: 991px;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-container03 {
    padding: var(--dl-space-space-halfunit);
  }
}
