.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #EBEBEB;
}
.home-image {
  top: 0px;
  right: 0px;
  width: 630px;
  height: 780px;
  display: none;
  opacity: 0.3;
  position: absolute;
  object-fit: cover;
  border-bottom-left-radius: 100px;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 120px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #575757;
  font-size: 22px;
  text-align: center;
}
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: center;
}
.home-text3 {
  color: rgb(47, 85, 151);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
}
.home-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: center;
}
@media(max-width: 885px) {
  .home-container1 {
    flex-direction: column;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-container7 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-image {
    display: none;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-container7 {
    max-width: 991px;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-container3 {
    padding: var(--dl-space-space-halfunit);
  }
}
