.about-card-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-card-heading {
  color: #515151;
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-card-text {
  color: #515151;
  font-size: 17px;
  align-self: flex-start;
}
.about-card-root-class-name {
  width: 50%;
  align-self: flex-start;
  margin-right: var(--dl-space-space-unit);
}
.about-card-root-class-name1 {
  width: 50%;
  align-self: flex-start;
}
@media(max-width: 1000px) {
  .about-card-root-class-name1 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .about-card-root-class-name {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-card-root-class-name1 {
    width: 100%;
    margin-left: 0px;
  }
}
