.about-card-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-card-text {
  color: #515151;
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-card-text1 {
  color: #515151;
  font-size: 17px;
  align-self: flex-start;
}
.about-card-root-class-name {
  width: 50%;
}
.about-card-root-class-name1 {
  width: 50%;
}
@media(max-width: 479px) {
  .about-card-root-class-name {
    width: 100%;
  }
  .about-card-root-class-name1 {
    width: 100%;
  }
}
