.call-to-action-whats-app-container {
  width: auto;
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
}
.call-to-action-whats-app-container1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.call-to-action-whats-app-icon {
  fill: #2F5597;
  width: 100px;
  height: 100px;
  align-self: center;
}
.call-to-action-whats-app-text {
  color: #2F5597;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 800;
}
.call-to-action-whats-app-root-class-name {
  align-self: flex-end;
}
