.cotizador-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-framedesktop);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-framedesktop);
  flex-direction: column;
  justify-content: flex-start;
}
.cotizador-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cotizador-container02 {
  flex: 0 0 auto;
  width: calc(100%/3);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cotizador-text {
  color: #2F5597;
}
.cotizador-container03 {
  flex: 0 0 auto;
  width: calc(100%/3);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cotizador-container04 {
  flex: 0 0 auto;
  width: calc(100%/3);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.cotizador-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cotizador-container06 {
  flex: 0 0 auto;
  width: calc(100%/2);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cotizador-text3 {
  color: #2F5597;
}
.cotizador-container07 {
  flex: 0 0 auto;
  width: calc(100%/2);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.cotizador-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cotizador-container09 {
  flex: 0 0 auto;
  width: calc(100%/2);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cotizador-text4 {
  color: #2F5597;
}
.cotizador-container10 {
  flex: 0 0 auto;
  width: calc(100%/2);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

@media(max-width: 900px) {
  .cotizador-container01 {
    flex-direction: column;
  }
  .cotizador-container02 {
    align-items: center;
  }
  .cotizador-text {
    text-align: center;
  }
  .cotizador-container03 {
    align-items: center;
  }
  .cotizador-text1 {
    text-align: center;
  }
  .cotizador-container04 {
    align-items: center;
  }
  .cotizador-text2 {
    text-align: center;
  }
  .cotizador-container05 {
    flex-direction: column;
  }
  .cotizador-container06 {
    align-items: center;
  }
  .cotizador-text3 {
    text-align: center;
  }
  .cotizador-container07 {
    align-items: center;
  }
  .cotizador-container08 {
    flex-direction: column;
  }
  .cotizador-container09 {
    align-items: center;
  }
  .cotizador-text4 {
    text-align: center;
  }
  .cotizador-container10 {
    align-items: center;
  }
  .cotizador-text5 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .cotizador-container01 {
    flex-direction: column;
  }
  .cotizador-container02 {
    align-items: center;
  }
  .cotizador-text {
    text-align: center;
  }
  .cotizador-container03 {
    align-self: center;
  }
  .cotizador-container04 {
    align-self: center;
    align-items: center;
  }
  .cotizador-container05 {
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .cotizador-container06 {
    align-items: center;
  }
  .cotizador-text3 {
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .cotizador-container07 {
    align-items: center;
    flex-direction: column;
  }
  .cotizador-container08 {
    flex-direction: column;
  }
  .cotizador-container09 {
    align-items: center;
  }
  .cotizador-text4 {
    text-align: center;
  }
  .cotizador-container10 {
    align-items: center;
  }
}
