.service-card-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.service-card-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.service-card-container2 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 500px;
  flex-direction: column;
  background-color: hsla(0,0%,100%,.8);
}
.service-card-image {
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: cover;
}
.service-card-text {
  color: #2F5597;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}



