.service-method-card-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.service-method-card-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: center;
}
.service-method-card-image {
  width: 600px;
  height: auto;
  max-width: 600px;
  min-width: 200px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: 16px;
}
.service-method-card-root-class-name {
  align-self: center;
}
@media(max-width: 479px) {
  .service-method-card-container1 {
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
}
