.social-media-card-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.social-media-card-container1 {
  flex: 0 0 auto;
  width: auto;
  display: none;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.social-media-card-icon {
  fill: #2F5597;
  width: 70px;
  height: 70px;
}
.social-media-card-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.social-media-card-link {
  display: contents;
}
.social-media-card-icon2 {
  fill: #2F5597;
  width: 70px;
  height: 70px;
  transition: 0.3s;
  text-decoration: none;
}
.social-media-card-icon2:hover {
  fill: #515151;
  width: 80px;
  height: 80px;
}
.social-media-card-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.social-media-card-link1 {
  display: contents;
}
.social-media-card-icon4 {
  fill: #2F5597;
  width: 70px;
  height: 70px;
  transition: 0.3s;
  text-decoration: none;
}
.social-media-card-icon4:hover {
  fill: #515151;
  width: 80px;
  height: 80px;
}
.social-media-card-root-class-name1 {
  margin-top: 50px;
}
@media(max-width: 1000px) {
  .social-media-card-container1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .social-media-card-container {
    flex-direction: column;
  }
}
