.solution-card-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.solution-card-text {
  color: #2F5597;
  font-size: 43px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}

@media(max-width: 885px) {
  .solution-card-root-class-name {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .solution-card-text {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
