.text-card-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text-card-text {
  font-size: 19px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.text-card-root-class-name {
  align-self: center;
}
@media(max-width: 1000px) {
  .text-card-root-class-name {
    align-self: flex-start;
  }
}
