.text-card-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}

@media(max-width: 885px) {
  .text-card-root-class-name {
    align-self: flex-start;
  }
}
